/* css style-sheet */

/* color palette https://tailwindcss.com/docs/customizing-colors
}
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --sky-00: #f0f9ff;
    --sky-01 :#e0f2fe;
    --sky-02: #bae6fd;
    --sky-03: #7dd3fc;
    --sky-04: #38bdf8;
    --sky-05: #0ea5e9;
    --sky-06: #0284c7;
    --sky-07: #0369a1;
    --sky-08: #075985;
    --sky-09: #0c4a6e;
    --sky-10: #082f49;

    --lime-00: #f7fee7;
    --lime-01: #ecfccb;
    --lime-02: #d9f99d;
    --lime-03: #bef264;
    --lime-04: #a3e635;
    --lime-05: #84cc16;
    --lime-06: #65a30d;
    --lime-07: #4d7c0f;
    --lime-08: #3f6212;
    --lime-09: #365314;
    --lime-10: #1a2e05;

    --blue-01: #363062;
    --blue-02: #435585;
    --blue-03: #818FB4;
    --sand-01: #F5E8C7;

    --color-01: #213555;
    --color-02: #4F709C;
    --color-03: #D8C4B6;
    --color-04: #F5EFE7;
}

html, body {
    /* height: 100%; */
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0;
    margin: 0;
}
.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    grid-template-rows: 50px repeat(2, max(300px));
    display: grid;
    gap: 50px;
    font-size: 24px;
    padding-left: 10px;
    padding-top: 10px;
    align-items: start;
    background-color: var(--color-02);
    color: white;
}
.sidebar > .item{
    font-size: 36px;
    height: 50px;
}
.item {
    display: grid;
    grid-template-columns: 40px auto;
    gap: 30px;
    padding-left: 10px;
    align-content: center;
    align-items: center;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    text-align: center;
}
.text {
}
.group {
    display: grid;
    justify-content: start;
    gap: 5px;
}
.header .group {
    display: grid;
    grid-template-columns: 40px 1fr;
    place-items: center;
    justify-items: end;
    margin-left: auto;
    margin-right: 10px;
}
.header .group.vertical {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    justify-items: start;
    margin: 0;
    gap: 0;
    padding: 0;
}
.group.vertical div:nth-child(1){
    font-size: 16px;
}
.group.vertical div:nth-child(2){
    font-weight: 700;
    font-size: 24px;
}
.logo {
    display: flex;   
}
.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 10px;
    background-color: var(--color-01);
    color: white;
}
.top {
    display: grid;
    grid-template-columns: 40px 60% 1fr;
    align-content: center;
}
img[src="avatar.png"]{
    /* height: 70px; */
    height: auto;
    width: 100%;
}
#welcome {
    display: grid;    
    grid-template-columns: 70px 1fr;
    gap: 10px;
}
#welcome .group.avatar {
    
}
.group .avatar {
    display: grid;    
    grid-template-columns: 50px 1fr;
    gap: 10px;
}
.group .vertical {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
}

input[type="text"]{
    width: 90%;
    margin: 10px;
    border-radius: 20px;
    border: none;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}
input[type="button"]{
    border-radius: 20px;
    margin: 10px;
    height: 40px;
    border: none;
    background-color: var(--color-03);
}
.bottom {
    display: grid;
    grid-template-columns: 60% 1fr 1fr 1fr;
    align-content: center;
}


.content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
    background-color: var(--color-04);
}
.post, .trend {
    background-color: var(--color-01);
    color: white;
    border-radius: 5px;
    padding: 15px;
}
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    grid-template-rows: 50px auto;
}
.projects > .title {
    grid-column: 1 / 3;
}
.title {
    font-size: 20px;
}
.right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 3;
    grid-template-columns: 1fr;
    gap: 5px;
}
.announcements {
    /* grid-column: 2 / 3; */
    grid-template-rows: 50px 1fr 1fr 1fr;
    display: grid;
    gap: 20px;
    padding: 20px;
}
.trending {
    /* grid-column: 2 / 3; */
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}
